.navbar-expand-lg .navbar-nav .nav-link {
    padding: 30px 20px 10px 20px;
    font-size: 17px;
    color: #fefefd;
    text-transform: uppercase;
    background-color: transparent;
    margin: 0px 5px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fefefd;
    background-color: #f01c1c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fefefd;
    background-color: #f01c1c;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar {
    padding: 0px 0px 20px 0px;
    min-width: 100%;
    justify-content: space-between;
    color: #fff !important;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
    margin-top: 28px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #fefefd;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #f01c1c;
}

.navbar-brand {
    margin-top: 20px;
}

/* Custom Styling */
.navbar>.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
    gap: 2px;
    color: #fff !important;
    height: 60px;
}


.navbar-brand span {
    display: block;
    /* background: green; */
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 2px #C96A73;
}

.navbar-brand>.main-logo {
    font-weight: 800;
    font-size: 28px;
    z-index: 2;
    margin-bottom: 20px;
}

.navbar-brand>.sub-logo {
    position: absolute;
    top: 75px;
    font-weight: 600;
    z-index: 2;
}

.navbar-brand>.img-logo {
    position: absolute;
    width: 120px;
    /* left: 88px; */
    transform: rotate(20deg);
    z-index: 1;
}

/* Existing styles remain the same */

/* Add spacing for larger screens */
@media (min-width: 1024px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 5px 10px 5px 10px;
        /* Increase horizontal padding */
        font-size: 18px;
        /* Slightly increase font size */
    }

    .navbar-brand {
        margin: 0 20px;
        /* Add margin to create spacing around the brand */
    }

    .navbar-nav {
        gap: 10px;
        /* Increase spacing between nav items */
    }

    .navbar-collapse {
        justify-content: space-between;
        /* Ensure content is spaced out */
        gap: 20px;
        /* Add spacing between the nav links and the form */
    }

    .form-inline {
        margin-right: 10px;
        /* Add spacing between the form and the edge of the navbar */
    }

    .login_bt {
        margin-top: 0;
        /* Adjust the top margin if needed */
        padding: 0 15px;
        /* Add padding for spacing */
    }
}